/* For computer desktop screen */
@media only screen and (min-width: 960px) {
	.waSettings {
		display: flex;
	}
}

.loginChild {
	flex: 1;
}

.loginChild:first-child {
	margin-right: 20px;
}

.errorAlert {
	color: red;
}

#wawp_restricted_message_textarea {
	width: 80%;
	height: 20em;
}

/* For mobile screen */
@media only screen and (max-width: 600px) {
	#wawp_restricted_message_textarea {
		width: 100%;
	}

	.loginChild {
		width: 100%;
	}
}

/* Indent for checkboxes */
.wawp_case_level {
	margin-left: 8% !important;
}
.wawp_case_group {
	margin-left: 8% !important;
}

ul.wawp_list {
	list-style-type: disc;
	margin-left: 5%;
}

/* Formatting for the API Key, Client ID, and Client Secret inputs */
#wawp_wal_api_key {
	width: 80%;
}

#wawp_wal_client_id {
	width: 80%;
}

#wawp_wal_client_secret {
	width: 80%;
}

@media only screen and (max-width: 1200px) {
	#wawp_wal_api_key {
		width: 100%;
	}

	#wawp_wal_client_id {
		width: 100%;
	}

	#wawp_wal_client_secret {
		width: 100%;
	}
}

.wawp_authorization_img {
	max-width: 500px;
	width: 100%;
}

.form-table th {
	width: 100px;
}

#wawp_login_email {
	margin: 50px;
}

#wawp_login_password {
	margin: 20px;
}
