.waSettings {
	display: flex;
}

.loginChild {
	flex: 1;
}

.loginChild:first-child {
	margin-right: 20px;
}

.errorAlert {
	color: red;
}

#wawp_restricted_message_textarea {
	width: 80%;
	height: 20em;
}

/* For mobile screen */
@media only screen and (max-width: 600px) {
	#wawp_restricted_message_textarea {
		width: 100%;
	}

	.loginChild {
		clear: left;
	}
}

/* Indent for checkboxes */
.wawp_case_level {
	margin-left: 8% !important;
}
.wawp_case_group {
	margin-left: 8% !important;
}

ul.wawp_list {
	list-style-type: disc;
	margin-left: 5%;
}
