#wawp_login-wrap {
	display: flex;
	justify-content: center;
  	align-items: center;
	width: 100%;
	flex-direction: column;
}

#wawp_login_email {
	/* display: flex; */
	margin-bottom: 20px;
}

#wawp_login_password {
	/* display: flex; */
	margin-bottom: 20px;
}

#wawp_remember_me {
	/* display: flex; */
	margin-bottom: 20px;
}

#wawp_login_submit {
	/* display: flex; */
	margin-top: 20px;
	margin-left: 25%;
}

#wawp_wa_login_direction {
	text-align: center;
}
